<header class="site-header">

  <div class="wrapper">

    <h1 class="site-title"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
    
	<h4 class="site-meta">{{ site.tagline }}</h4>
	
	
    <nav class="site-nav">

             <a href="/1" target="_self"><strong><span style="color: rgb(0, 0, 0);">부동산 투자 비법백서</span></strong></a> 
      
          <a href="/2" target="_self"><strong><span style="color: rgb(0, 0, 0);">｜제안/문의</span></strong></a> 
        
         
      
        
        
        
        {% for page in site.pages %}
        {% if page.title %}
        
           
        
        

        
        
       
          
        {% endif %}      
        {% endfor %}
    
    </nav>

  </div>

</header>
